.aContainer {
  width: 100%;
  height: 70%;
  background-color: orange;
  .hLinks {
    display: flex;
    align-items: center;
    justify-content: right;
    list-style-type: none;
    margin: 0;
    padding: 0 3.6rem;
    li {
      color: white;
      cursor: pointer;
      padding: 1.2rem;
    }
  }
}
